### Finding files and data using Data Connect

#### Learning Objectives
Workshop attendees will learn how use the GA4GH Data Connect Service.  

What will participants do as part of the exercise?

 - Understanding how to query data via Data Connect
 - Use Data Connect to find files that can be accessed via DRS
 - Learn how to obtain and use data deacriptions (schema)
 - Discover the meaning of codes used in data
 

 #### Icons in this Guide

 üñê A hands-on section where you will code something or interact with the server
 
### Query files
The approach taken below is using mapping is available through subject and specimen data available through the Data Connect API.

In [1]:
from fasp.search import DataConnectClient

# Step 1 - Discovery
# query for relevant DRS objects
searchClient = DataConnectClient('https://ga4gh-search-adapter-presto-public.prod.dnastack.com/', debug=False)

query = '''SELECT f.sample_name, drs_id bam_drs_id, acc
FROM thousand_genomes.onek_genomes.ssd_drs s 
join thousand_genomes.onek_genomes.sra_drs_files f on f.sample_name = s.su_submitter_id 
where filetype = 'bam' and mapped = 'mapped' 
and sequencing_type ='exome' and  population = 'JPT' LIMIT 3'''

resultRows = searchClient.run_query(query, returnType='dataframe')
resultRows

Retrieving the query
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________
____Page6_______________
____Page7_______________
____Page8_______________

  sample_name                        bam_drs_id         acc
0     NA18948  fb1cfb04d3ef99d07c21f9dbf87ccc68  SRR1601121
1     NA18945  9327fb44eb81b49a41e38c8d86eb3b3a  SRR1601115
2     NA18943  9f38253b281c7e9c99e4bdbececd8e2f  SRR1606910

### List table details

In [2]:
searchClient.list_table_info('thousand_genomes.onek_genomes.sra_drs_files', verbose=True)

_Schema for tablethousand_genomes.onek_genomes.sra_drs_files_
{
   "name": "thousand_genomes.onek_genomes.sra_drs_files",
   "description": "Automatically generated schema",
   "data_model": {
      "$id": "https://ga4gh-search-adapter-presto-public.prod.dnastack.com/table/thousand_genomes.onek_genomes.sra_drs_files/info",
      "description": "Automatically generated schema",
      "$schema": "http://json-schema.org/draft-07/schema#",
      "properties": {
         "acc": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "filename": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "drs_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "filetype": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "sample_name": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "mapped": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "sequencing_type": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         }
      }
   }
}

In [4]:
searchClient.list_table_info('thousand_genomes.onek_genomes.ssd_drs', verbose=True)

_Schema for tablethousand_genomes.onek_genomes.ssd_drs_
{
   "name": "thousand_genomes.onek_genomes.ssd_drs",
   "description": "Automatically generated schema",
   "data_model": {
      "$id": "https://ga4gh-search-adapter-presto-public.prod.dnastack.com/table/thousand_genomes.onek_genomes.ssd_drs/info",
      "description": "Automatically generated schema",
      "$schema": "http://json-schema.org/draft-07/schema#",
      "properties": {
         "id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "subject_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "age_at_index": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "age_at_index_gt89": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "annotated_sex": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "race": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "ethnicity": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "weight": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "bmi_baseline": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "height_baseline": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "age_at_height_baseline": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "unit_height_baseline": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_race": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_ethnicity": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "hispanic_subgroup": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_hispanic_subgroup": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "age_at_bmi_baseline": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "age_at_weight_baseline": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "subcohort": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_annotated_sex": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_bmi_baseline": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_subcohort": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "unit_weight_baseline": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "weight_baseline": {
            "format": "double",
            "type": "number",
            "$comment": "double"
         },
         "population": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "submitter_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "state": {
            "type": "object",
            "$comment": "row(string,string)",
            "properties": {
               "demographic_demographic_state_0_value": {
                  "format": "varchar",
                  "type": "string",
                  "$comment": "varchar"
               },
               "demographic_demographic_state_1_value": {
                  "format": "varchar",
                  "type": "string",
                  "$comment": "varchar"
               }
            }
         },
         "project_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "created_datetime": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "updated_datetime": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "su_submitter_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "sa_submitter_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "al_submitter_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "rg_submitter_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "read_drs_id": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "file_name": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "file_size": {
            "format": "bigint",
            "type": "int",
            "$comment": "bigint"
         },
         "md5sum": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "data_type": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         },
         "data_format": {
            "format": "varchar",
            "type": "string",
            "$comment": "varchar"
         }
      }
   }
}

Using the information above about the tables we can modify the query 

#superpopulation_name = "European Ancestry" and population_code = "FIN"

In [3]:
query = '''SELECT population, count(*) pop_cnt
FROM thousand_genomes.onek_genomes.ssd_drs s 
group by population
order by population'''

resultRows = searchClient.run_query(query, returnType='dataframe')
resultRows

Retrieving the query
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________
____Page6_______________

   population  pop_cnt
0         ACB       96
1         ASW       61
2         BEB       86
3         CDX       93
4         CEU       99
5         CHB      103
6         CHS      105
7         CLM       94
8         ESN       99
9         FIN       99
10        GBR       91
11        GIH      103
12        GWD      113
13        IBS      107
14        ITU      102
15        JPT      104
16        KHV       99
17        LWK       99
18        MSL       85
19        MXL       64
20        PEL       85
21        PJL       96
22        PUR      104
23        STU      102
24        TSI      107
25        YRI      108

In [4]:
query = '''SELECT f.sample_name, drs_id bam_drs_id, acc, filename
FROM thousand_genomes.onek_genomes.ssd_drs s 
join thousand_genomes.onek_genomes.sra_drs_files f on f.sample_name = s.su_submitter_id 

where filetype = 'bam' and mapped = 'mapped' 
and sequencing_type ='exome' and  population = 'PUR' 
and  filename like '%HG00740%'

LIMIT 3'''

print(query)

SELECT f.sample_name, drs_id bam_drs_id, acc, filename
FROM thousand_genomes.onek_genomes.ssd_drs s
join thousand_genomes.onek_genomes.sra_drs_files f on f.sample_name = s.su_submitter_id

where filetype = 'bam' and mapped = 'mapped'
and sequencing_type ='exome' and  population = 'PUR'
and  filename like '%HG00740%'

LIMIT 3

In [5]:
query = '''SELECT f.sample_name, drs_id bam_drs_id, acc, filename
FROM thousand_genomes.onek_genomes.ssd_drs s 
join thousand_genomes.onek_genomes.sra_drs_files f on f.sample_name = s.su_submitter_id 

where filename like 'HG00740%'
'''
print(query)

SELECT f.sample_name, drs_id bam_drs_id, acc, filename
FROM thousand_genomes.onek_genomes.ssd_drs s
join thousand_genomes.onek_genomes.sra_drs_files f on f.sample_name = s.su_submitter_id

where filename like 'HG00740%'

The method of calling the Data Connect client above returns a dataframe. This is convenient for many purposes, including listing the results as above. The default return type from the runQuery gives a list of lists.

In [6]:
results = searchClient.run_query(query)
results

Retrieving the query
____Page1_______________
____Page2_______________
____Page3_______________
____Page4_______________
____Page5_______________
____Page6_______________
____Page7_______________

[['HG00740',
  '8b8388fdc4bef15213df69a5a892ba47',
  'SRR1596984',
  'HG00740.unmapped.ILLUMINA.bwa.PUR.low_coverage.20120522.bam'],
 ['HG00740',
  '2a5a92225137d5abc65a2b9fadd25264',
  'SRR1596984',
  'HG00740.mapped.ILLUMINA.bwa.PUR.low_coverage.20120522.bam'],
 ['HG00740',
  'e78af56200c0c6ee4c08ab043b1f71bb',
  'SRR1596983',
  'HG00740.unmapped.ILLUMINA.bwa.PUR.exome.20120522.bam'],
 ['HG00740',
  '61eded72b0d2dfc908fee2201792dbac',
  'SRR1596983',
  'HG00740.mapped.ILLUMINA.bwa.PUR.exome.20120522.bam']]

The following shows how the SRA DRS server can be used to determine where the files can be obtained from. The following shows this for the first DRS id from the query results.

In [8]:
from fasp.loc import DRSClient

drsClient = DRSClient('https://locate.be-md.ncbi.nlm.nih.gov', public=True, debug=True)
test_id = results[0][1]
print(test_id)
objInfo = drsClient.get_object(test_id)
objInfo

8b8388fdc4bef15213df69a5a892ba47
https://locate.be-md.ncbi.nlm.nih.gov/ga4gh/drs/v1/objects/8b8388fdc4bef15213df69a5a892ba47

{'access_methods': [{'access_id': '0814ace3869680a709dadeb570293cd0c80f2d2e9f0f49a96010e5315db37f6a',
   'region': 'gs.US',
   'type': 'https'},
  {'access_id': '5b998d00d9c39e3e476d99855f9f53e069294435568029f89caf5252c87b991f',
   'type': 'https'},
  {'access_id': 'f27a3b7058835391094fd19ef63c4062a8f219c72016906a131324048b1dfae1',
   'region': 's3.us-east-1',
   'type': 'https'}],
 'checksums': [{'checksum': '8b8388fdc4bef15213df69a5a892ba47',
   'type': 'md5'}],
 'created_time': '2012-11-16T02:33:10Z',
 'id': '8b8388fdc4bef15213df69a5a892ba47',
 'name': 'HG00740.unmapped.ILLUMINA.bwa.PUR.low_coverage.20120522.bam',
 'self_url': 'drs://locate.be-md.ncbi.nlm.nih.gov/8b8388fdc4bef15213df69a5a892ba47',
 'size': 362537865}

A second DRS call can be used to obtain a url to access the file from one of the above locations.

In [11]:
access_id = objInfo['access_methods'][0]['access_id']
print('access_id:{}'.format(access_id))
url = drsClient.get_access_url(test_id, access_id=access_id)
print('url:{}'.format(url))

access_id:0814ace3869680a709dadeb570293cd0c80f2d2e9f0f49a96010e5315db37f6a
https://locate.be-md.ncbi.nlm.nih.gov/ga4gh/drs/v1/objects/8b8388fdc4bef15213df69a5a892ba47/access/0814ace3869680a709dadeb570293cd0c80f2d2e9f0f49a96010e5315db37f6a
<Response [200]>
url:https://storage.googleapis.com/genomics-public-data/ftp-trace.ncbi.nih.gov/1000genomes/ftp/phase3/data/HG00740/alignment/HG00740.unmapped.ILLUMINA.bwa.PUR.low_coverage.20120522.bam